datasets==3.0.2
tiktoken==0.8.0
numpy==1.26.4
torch==2.5.1
torchmetrics==1.5.1
tqdm==4.66.6
matplotlib==3.9.2
tensorboard==2.18.0
safetensors==0.5.2
onnx==1.17.0
onnxruntime==1.20.1
huggingface_hub==0.27.0
